mixin icon-svg(id)
	svg&attributes(attributes)
		use(xlink:href=`#${id}`)

mixin social(items)
	ul.social(class=attributes.class)
		each id, title in items
			li.social__item
				a.social__link(href="" target="_blank")= title
					+icon-svg(id)(class=`social__icon social__icon--${id}`)

mixin nav(items)
	ul.navigation(class=attributes.class)
		each href, title in items
			li.navigation__item
				a.navigation__link(href=href)= title

mixin title(element, bg)
	if block
	#{element}.title(class=attributes.class)
		block
		if bg
			+icon-svg(bg)(class="title__bg")

mixin user()
	.user(class=attributes.class)
		.user__wrap-avatar
			img.user__avatar(src="./assets/img/Me.jpg", alt="Александр Егоричев" width="141" height="141")
		if block
			block
		else
			span.user__name.
				Александр Егоричев
			p.user__text.
				Личный сайт веб разработчика

