extends ../page

block title
	title Блог

block headerPortfolio

block userInfo
	h1.title Блог
		+icon-svg("blog_header").title__bg
	p.user__text.
			Личный сайт веб разработчика

block content
	section.blog
		.blog__sidebar
			aside.sidebar
				a.sidebar__toggle
				ul.sidebar__list
				each item, i in (items)? items : articlesList
					li(class='sidebar__item')
						a(class='sidebar__link' + ((i == 0)? ' sidebar__link--active': '') href=`#article-${i+1}`)= item.title

		.blog__articles
			each item, i in (items)? items : articlesList
				article(class='article' id=`article-${i+1}`)
					h2.article__title= item.title
					time.article__datetime= item.date
					.article__content
						p= item.body
