extends ../page

block title
	title Мои работы

block variables
	-
		var href = "works"

block content
	section.works#works
		.works__title
			+title("h1", "works_header").title--color-dark Мои работы

		include ../common/slider

	section.reviews
		.reviews__leaf-1
		.reviews__leaf-2
		.reviews__leaf-3
		.reviews__title
			+title("h2", "about_header").title--color-dark Что обо мне<br> говорят
		.container
			ul.reviews__list
					each item, i in reviews
						li.reviews__item
							article.review
								+icon-svg("quote").review__icon-quote
								.review__img-wrap
									img(src=`${item.img}` alt=`${item.name}`)
								blockquote.review__text= item.text
								.review__author-wrap
									cite.review__author-name= item.name
									div.review__author-info= `— ${item.info}`


			.reviews__feedback
				.card
					.card__blur
					form#feedback(method="POST")
						.card__content
							.feedback
								h3.feedback__title.title.title--color-sage Связаться со мной
								input.feedback__input-text.field(
									type="text"
									name="name"
									id="field-name"
									placeholder="Имя"
									required)
								input.feedback__input-text.field(
									type="email"
									name="email"
									id="field-email"
									placeholder="Email"
									required)
								textarea.feedback__textarea.field(
									type="text"
									name="message"
									id="field-message"
									placeholder="Ваше сообщение"
									required)
						.card__btn-wrap
							input.card__btn(type="submit" value="Отправить")
							input.card__btn(type="reset" value="Очистить")

			a(href=`#${href}` class='reviews__arrow-link arrow-link arrow-link--up')
				+icon-svg("arrow_down")(class="arrow-link__icon")
